patient-info/imports/*.csv
patient-info/tools/node_modules/
patient-info/js-migrate/node_modules/
patient-info/js-migrate/logs/
patient-info/js-migrate/checkpoints/
examination/tools/node_modules/
examination/js-migrate/node_modules/
examination/js-migrate/logs/
examination/js-migrate/checkpoints/
appointment/js-migrate/node_modules/
appointment/js-migrate/logs/
appointment/js-migrate/checkpoints/
ultrasound/js-migrate/node_modules/
ultrasound/js-migrate/logs/
ultrasound-mass/js-migrate/node_modules/
ultrasound-mass/js-migrate/logs/
ultrasound-mass/js-migrate/checkpoints/
ultrasound-cyst/js-migrate/node_modules/
ultrasound-cyst/js-migrate/logs/
ultrasound-cyst/js-migrate/checkpoints/
mam/js-migrate/node_modules/
mam/js-migrate/logs/
mam/js-migrate/checkpoints/
mam-mass/js-migrate/node_modules/
mam-mass/js-migrate/logs/
mam-mass/js-migrate/checkpoints/
mam-cal/js-migrate/node_modules/
mam-cal/js-migrate/logs/
mam-cal/js-migrate/checkpoints/
exports/*.json
migration.config.local.json
.env
.env.*
!.env.example
